In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [2]:
import glob

# getting csv files from the folder MyProject
path = "csv_exports"

# read all the files with extension .csv
filenames = glob.glob(path + "\*.csv")
print('File names:', filenames)
all_titres = pd.DataFrame()
# for loop to iterate all csv files
for file in filenames:
   # reading csv files
   print("\nReading file = ",file)
   all_titres = all_titres.append(pd.read_csv(file))

all_titres = all_titres.reset_index(drop=True)
all_titres

File names: ['csv_exports\\france_20211231_20220131.csv', 'csv_exports\\france_20220131_20220228.csv', 'csv_exports\\france_20220228_20220331.csv', 'csv_exports\\france_20220331_20220401.csv', 'csv_exports\\rolling_sum_2022-01-03.csv']

Reading file =  csv_exports\france_20211231_20220131.csv

C:\Users\matth\AppData\Local\Temp\ipykernel_3656\2325224343.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_titres = all_titres.append(pd.read_csv(file))
C:\Users\matth\AppData\Local\Temp\ipykernel_3656\2325224343.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_titres = all_titres.append(pd.read_csv(file))
C:\Users\matth\AppData\Local\Temp\ipykernel_3656\2325224343.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_titres = all_titres.append(pd.read_csv(file))
C:\Users\matth\AppData\Local\Temp\ipykernel_3656\2325224343.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_titres = all_titres.append(pd.read_csv(file))
C:\Users\matth\AppData\Local\Temp\ipykernel_3656\2325224343.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_titres = all_titres.append(pd.read_csv(file))

Reading file =  csv_exports\france_20220131_20220228.csv

Reading file =  csv_exports\france_20220228_20220331.csv

Reading file =  csv_exports\france_20220331_20220401.csv

Reading file =  csv_exports\rolling_sum_2022-01-03.csv

,postId,title,body,url,author,created,permalink,flair,lepen,hidalgo,...,poutou,zemmour,lassalle,jadot,roussel,arthaud,macron,date,week_number,date_interval
0,rsf6sw,France - Jordanie en Auto-Stop (ou comment voy...,NaN,https://youtu.be/OlUnl76Xz3g,How-I-met-Myself,2021-12-31 00:17:50,/r/france/comments/rsf6sw/france_jordanie_en_a...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,rsfljv,"Le communisme, c'est pas vraiment ma tasse de ...",NaN,https://i.imgur.com/H9MD3w8.jpg,laclapas34,2021-12-31 00:36:45,/r/france/comments/rsfljv/le_communisme_cest_p...,Politique,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rsft8a,Den's fundraiser ®️ https://www.whydonate.nl/f...,[removed],https://www.reddit.com/r/france/comments/rsft8...,denbonjour,2021-12-31 00:46:46,/r/france/comments/rsft8a/dens_fundraiser/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,rsfwg4,"Projet de recherche, questionnaire Sociolingui...",NaN,https://forms.gle/i37cePcqXYUDywsd8,NyuAka,2021-12-31 00:51:04,/r/france/comments/rsfwg4/projet_de_recherche_...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rsfz1y,Elon Musk - Why aren't they dead yet ?,NaN,https://mobile.twitter.com/elonmusk/status/147...,NiqueurDeMachine,2021-12-31 00:54:39,/r/france/comments/rsfz1y/elon_musk_why_arent_...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,...,8.0,12.0,8.0,6.0,4.0,2.0,41.0,2022-03-20 02:00:00,11.0,from 2022-03-20 to 2022-03-27
16977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,...,7.0,8.0,8.0,6.0,4.0,2.0,41.0,2022-03-21 02:00:00,12.0,from 2022-03-21 to 2022-03-28
16978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,...,8.0,9.0,8.0,6.0,5.0,2.0,39.0,2022-03-22 02:00:00,12.0,from 2022-03-22 to 2022-03-29
16979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,...,5.0,14.0,6.0,6.0,10.0,1.0,41.0,2022-03-23 02:00:00,12.0,from 2022-03-23 to 2022-03-30
16980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,...,5.0,12.0,6.0,4.0,13.0,1.0,42.0,2022-03-24 02:00:00,12.0,from 2022-03-24 to 2022-03-31

In [3]:
# Liste des candidats ayant obtenus les 500 signatures
candidats = ['Lepen', 'Hidalgo', 'Pecresse', 'Dupont-Aignan', 'Melenchon', 'Poutou', 'Zemmour', 'Lassalle', 'Jadot', 'Roussel', 'Arthaud', 'Macron']

On souhaite faire quelques corrections sur les titres :

-Lower les lettres

-Transformer les possibles erreurs d'orthographe sur le nom des candidats

In [4]:
# all_titres['title'] = all_titres['title'].str.lower()
# all_titres['title'] = all_titres['title'].str.replace('é','e')
# list_words = ' '.join([i for i in all_titres['title']]).split()
# list_words.count('hidalgo')

In [5]:
all_titres['title'] = all_titres['title'].str.lower()
all_titres['title'] = all_titres['title'].str.replace('é','e')
all_titres['title'] = all_titres['title'].str.replace('melanchon','melenchon')
all_titres['title'] = all_titres['title'].str.replace('zemour','zemmour')
all_titres['title'] = all_titres['title'].str.replace(' le pen ',' lepen ')
all_titres

,postId,title,body,url,author,created,permalink,flair,lepen,hidalgo,...,poutou,zemmour,lassalle,jadot,roussel,arthaud,macron,date,week_number,date_interval
0,rsf6sw,france - jordanie en auto-stop (ou comment voy...,NaN,https://youtu.be/OlUnl76Xz3g,How-I-met-Myself,2021-12-31 00:17:50,/r/france/comments/rsf6sw/france_jordanie_en_a...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,rsfljv,"le communisme, c'est pas vraiment ma tasse de ...",NaN,https://i.imgur.com/H9MD3w8.jpg,laclapas34,2021-12-31 00:36:45,/r/france/comments/rsfljv/le_communisme_cest_p...,Politique,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rsft8a,den's fundraiser ®️ https://www.whydonate.nl/f...,[removed],https://www.reddit.com/r/france/comments/rsft8...,denbonjour,2021-12-31 00:46:46,/r/france/comments/rsft8a/dens_fundraiser/,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,rsfwg4,"projet de recherche, questionnaire sociolingui...",NaN,https://forms.gle/i37cePcqXYUDywsd8,NyuAka,2021-12-31 00:51:04,/r/france/comments/rsfwg4/projet_de_recherche_...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rsfz1y,elon musk - why aren't they dead yet ?,NaN,https://mobile.twitter.com/elonmusk/status/147...,NiqueurDeMachine,2021-12-31 00:54:39,/r/france/comments/rsfz1y/elon_musk_why_arent_...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,...,8.0,12.0,8.0,6.0,4.0,2.0,41.0,2022-03-20 02:00:00,11.0,from 2022-03-20 to 2022-03-27
16977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,...,7.0,8.0,8.0,6.0,4.0,2.0,41.0,2022-03-21 02:00:00,12.0,from 2022-03-21 to 2022-03-28
16978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,...,8.0,9.0,8.0,6.0,5.0,2.0,39.0,2022-03-22 02:00:00,12.0,from 2022-03-22 to 2022-03-29
16979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,...,5.0,14.0,6.0,6.0,10.0,1.0,41.0,2022-03-23 02:00:00,12.0,from 2022-03-23 to 2022-03-30
16980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0,...,5.0,12.0,6.0,4.0,13.0,1.0,42.0,2022-03-24 02:00:00,12.0,from 2022-03-24 to 2022-03-31

On souhaite maintenant compter le nombre d'occurence qu'il y a par semaine (rolling sum) pour chaque candidat

In [6]:
all_titres['created'] = pd.to_datetime(all_titres['created'])

In [7]:
def rolling_sum_candidat(df, start_datetime, nb_days_interval, candidat) -> int:
    temp_df = df.loc[(df["created"] <= start_datetime) & (df["created"] >= start_datetime - timedelta(days = nb_days_interval))]
    temp_df = df.loc[(df["created"] <= start_datetime) & (df["created"] >= start_datetime - timedelta(days = nb_days_interval))]
    return ' '.join([i for i in temp_df['title']]).split().count(candidat.lower())

In [8]:
def return_str_date(datetime) -> str:
    return str(datetime.strftime("%Y")) + '-' + str(datetime.strftime("%m")) + '-' + str(datetime.strftime("%d"))

In [9]:
def create_df_rolling_sum(df, start_datetime, nb_days_interval = int, candidats = list()):
    rs_df = pd.DataFrame(columns = candidats)
    interval_dates = []
    dates = []
    week_nb = []
    first_candidat = True
    for candidat in candidats:        
        actual_datetime = start_datetime
        rolling_sum_count = []  
        while actual_datetime + timedelta(days = nb_days_interval) < df['created'].max():
            if first_candidat:
                interval_dates.append('from ' + return_str_date(actual_datetime) + ' to ' + return_str_date(actual_datetime + timedelta(days = nb_days_interval)))
                week_nb.append(actual_datetime.strftime("%V"))
                dates.append(actual_datetime)
            rolling_sum_count.append(rolling_sum_candidat(df, actual_datetime, nb_days_interval, candidat))            
            actual_datetime = actual_datetime + timedelta(days = 1)

        rs_df[candidat] = rolling_sum_count
        first_candidat = False
    rs_df['date'] = dates
    rs_df['week_number'] = week_nb    
    rs_df['date_interval'] = interval_dates
    return rs_df

# rolling_sum_candidat(all_titres, datetime(2022, 2, 24, 2), 7, 'lepen')

In [10]:
start_datetime = datetime(2022, 1, 3, 2)
rs_df = create_df_rolling_sum(all_titres, datetime(2022, 1, 3, 2), 7, candidats)
rs_df

,Lepen,Hidalgo,Pecresse,Dupont-Aignan,Melenchon,Poutou,Zemmour,Lassalle,Jadot,Roussel,Arthaud,Macron,date,week_number,date_interval
0,1,0,0,0,1,0,1,0,0,0,0,5,2022-01-03 02:00:00,01,from 2022-01-03 to 2022-01-10
1,1,0,1,0,3,0,1,0,0,0,0,6,2022-01-04 02:00:00,01,from 2022-01-04 to 2022-01-11
2,1,0,2,0,3,0,1,0,0,0,0,13,2022-01-05 02:00:00,01,from 2022-01-05 to 2022-01-12
3,1,0,2,0,6,0,2,0,0,0,0,21,2022-01-06 02:00:00,01,from 2022-01-06 to 2022-01-13
4,1,0,3,0,8,0,3,0,0,0,0,26,2022-01-07 02:00:00,01,from 2022-01-07 to 2022-01-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,5,2,5,0,15,8,12,8,6,4,2,41,2022-03-20 02:00:00,11,from 2022-03-20 to 2022-03-27
77,3,2,6,0,12,7,8,8,6,4,2,41,2022-03-21 02:00:00,12,from 2022-03-21 to 2022-03-28
78,3,1,6,0,12,8,9,8,6,5,2,39,2022-03-22 02:00:00,12,from 2022-03-22 to 2022-03-29
79,5,1,6,0,11,5,14,6,6,10,1,41,2022-03-23 02:00:00,12,from 2022-03-23 to 2022-03-30
80,4,1,4,0,10,5,12,6,4,13,1,42,2022-03-24 02:00:00,12,from 2022-03-24 to 2022-03-31

In [11]:
# Adding a sum column so we can see if in general how many people were talking of candidates
rs_df['Total'] = rs_df[candidats].sum(axis=1)
rs_df

,Lepen,Hidalgo,Pecresse,Dupont-Aignan,Melenchon,Poutou,Zemmour,Lassalle,Jadot,Roussel,Arthaud,Macron,date,week_number,date_interval,Total
0,1,0,0,0,1,0,1,0,0,0,0,5,2022-01-03 02:00:00,01,from 2022-01-03 to 2022-01-10,8
1,1,0,1,0,3,0,1,0,0,0,0,6,2022-01-04 02:00:00,01,from 2022-01-04 to 2022-01-11,12
2,1,0,2,0,3,0,1,0,0,0,0,13,2022-01-05 02:00:00,01,from 2022-01-05 to 2022-01-12,20
3,1,0,2,0,6,0,2,0,0,0,0,21,2022-01-06 02:00:00,01,from 2022-01-06 to 2022-01-13,32
4,1,0,3,0,8,0,3,0,0,0,0,26,2022-01-07 02:00:00,01,from 2022-01-07 to 2022-01-14,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,5,2,5,0,15,8,12,8,6,4,2,41,2022-03-20 02:00:00,11,from 2022-03-20 to 2022-03-27,108
77,3,2,6,0,12,7,8,8,6,4,2,41,2022-03-21 02:00:00,12,from 2022-03-21 to 2022-03-28,99
78,3,1,6,0,12,8,9,8,6,5,2,39,2022-03-22 02:00:00,12,from 2022-03-22 to 2022-03-29,99
79,5,1,6,0,11,5,14,6,6,10,1,41,2022-03-23 02:00:00,12,from 2022-03-23 to 2022-03-30,106
80,4,1,4,0,10,5,12,6,4,13,1,42,2022-03-24 02:00:00,12,from 2022-03-24 to 2022-03-31,102

In [12]:
# Saving the dataframe as a csv
csv_file_name = 'rolling_sum_' + return_str_date(start_datetime) + '.csv'
rs_df.to_csv('csv_exports' + '/' + csv_file_name, index = False, encoding="utf-8")